body {
    background-color: #e3b7e7;
    font-family: "Arial",sans-serif;
    text-align: center;
    padding: 30px;
}

.container{
    background-color: #ebd9d9;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,1);
    margin: auto;
}

img{
    border-radius: 50%;
    max-block-size: 300px;
    margin: 5px 0;
}

button{
    background-color: #22c6eb;
    color:#ffffff;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

button:hover{
    background-color: #005fa3;
}

.fade-out{
    opacity:0;
    transition: opacity 0.5s ease-out;
}

.heart-box{
    margin-top: 30px;
}

#heart{
    cursor: pointer;
    transition: transform 0.1s ease;
}

#heart:active{
    transform: scale(1.2);
}

#count{
    font-size: 24px;
    color:#e91e63
}